@use '@sass/util';
@use '@sass/color';
@use '@sass/size';

.FormSelectDropdownItem {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 기본 스타일
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  font-size: size.$body-font-size;
  line-height: size.$body-line-height;
  color: color.$text;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 임시 선택 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormSelectDropdownItem-temp-active {
    background-color: util.apply-opacity-value(color.$form-primary, 0.1);
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 선택 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormSelectDropdownItem-active {
    background-color: color.$form-primary;
    color: color.$form-on-primary;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 비활성화 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormSelectDropdownItem-disabled {
    color: color.$form-disabled-text;
  }
}
