@use '@sass/util';

.Tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--color-divider);
  flex-wrap: wrap;

  > .TabsItem {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: -1px;
    text-align: center;
    font-size: var(--size-body-font-size);
    line-height: 1.2;

    &:hover {
      border-color: util.apply-opacity-value(var(--color-primary), 0.5);
    }

    &.TabsItem-active {
      border-color: var(--color-primary);
      font-weight: bold;

      &:hover {
        border-color: var(--color-primary);
      }
    }
  }
}
