@use '@sass/util';
@use '@sass/color';
@use '@sass/size';

.Tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid color.$divider;
  flex-wrap: wrap;

  > .TabsItem {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: -1px;
    text-align: center;
    font-size: size.$body-font-size;
    line-height: 1.2;

    &:hover {
      border-color: util.apply-opacity-value(color.$primary, 0.5);
    }

    &.TabsItem-active {
      border-color: color.$primary;
      font-weight: bold;

      &:hover {
        border-color: color.$primary;
      }
    }
  }
}
