@use '@sass/util';

.FormSearchInputWrapper {
  $font-size: var(--size-body-font-size);
  $font-weight: 500;
  $line-height: 22px;
  $padding-vertical: 16px;
  $padding-horizontal: 20px;
  $small-size-padding-vertical: 7px;
  $small-size-padding-horizontal: 13px;
  $text-color: var(--color-text);
  $background-color: var(--color-background);
  $border-color: var(--color-opacity-20);
  $border-radius: 10px;
  $outline-color: var(--color-primary);
  $error-border-outline-color: var(--color-error);
  $placeholder-color: var(--color-opacity-35);

  // 숨김 상태
  &:not([data-show='true']) {
    position: absolute;
    width: 0;
    height: 0;
  }

  // 노출 상태
  &[data-show='true'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-right: $padding-horizontal;
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    outline: thin solid $outline-color;
    width: 100%;

    &[data-size='small'] {
      padding-right: $small-size-padding-horizontal;
    }
  }

  .FormSelectInput {
    flex: 1;
    width: 0;
    padding: $padding-vertical 0 $padding-vertical $padding-horizontal;
    border: none;
    outline: none;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    background-color: $background-color;
    color: $text-color;

    &[data-size='small'] {
      padding: $small-size-padding-vertical 0 $small-size-padding-vertical $small-size-padding-horizontal;
    }

    // 포커스 아닌 상태에서 커서 기본값
    &:not(:focus) {
      cursor: default;
    }

    // 숨김 상태
    &:not([data-show='true']) {
      position: absolute;
      border: none;
      width: 0;
      height: 0;
      outline: none;
      padding: 0;
      z-index: -1;
    }

    // 노출 상태
    &[data-show='true'] {
      // 오류 시 테두리, 아웃라인 색상 변경
      &[data-error='true'] {
        border-color: $error-border-outline-color;
        outline-color: $error-border-outline-color;
      }
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Placeholder
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    &::placeholder {
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
      color: $placeholder-color;
    }
    &::-webkit-input-placeholder {
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
      color: $placeholder-color;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
      color: $placeholder-color;
    }

    &[data-selected='true'] {
      &::placeholder {
        color: $text-color;
      }
      &::-webkit-input-placeholder {
        color: $text-color;
      }
      &:-moz-placeholder {
        color: $text-color;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: $text-color;
      }
    }
  }
}
