@use '@sass/util';
@use '@sass/color';
@use '@sass/size';

.FormSelectControl {
  $font-size: size.$body-font-size;
  $font-weight: 500;
  $line-height: 22px;
  $padding-vertical: 16px;
  $padding-horizontal: 20px;
  $small-size-padding-vertical: 7px;
  $small-size-padding-horizontal: 13px;
  $text-color: color.$text;
  $background-color: color.$background;
  $border-color: color.$opacity-20;
  $border-radius: 10px;
  $outline-color: color.$primary;
  $error-border-outline-color: color.$error;
  $disabled-border-color: color.$opacity-10;
  $disabled-background-color: color.$opacity-03;
  $placeholder-color: color.$opacity-35;

  cursor: default;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  // 라벨
  .FormSelectControlLabel {
    flex: 1;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    position: relative;

    // Placeholder 색상 지정
    &.FormSelectControlPlaceholder {
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
      color: $placeholder-color;
    }

    // 실제 라벨
    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
    }
  }

  // 노출 상태
  &[data-show='true'] {
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $padding-vertical $padding-horizontal;
    appearance: none;
    outline: 0 solid $outline-color;

    // 작은 사이즈
    &[data-size='small'] {
      padding: $small-size-padding-vertical $small-size-padding-horizontal;
    }

    // 오류 시 테두리, 아웃라인 색상 변경
    &[data-error='true'] {
      border-color: $error-border-outline-color;
      outline-color: $error-border-outline-color;
    }

    // 포커스 시 아웃라인 표시
    &[data-focused='true'] {
      outline-width: thin;
    }
  }

  // 비활성화 상태
  &[data-disabled='true'] {
    background-color: $disabled-background-color;
    border-color: $disabled-border-color;
  }
}
