# dotenv
.env
.env.development
.env.staging
.env.production

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# IntelliJ
.idea

# eslint cache
.eslintcache

# Coveralls
coverage

# Benchmarking
benchmarks/graphs
