# production (배포 시 주석 처리)
/client/dist
/server/dist

# publish
# 배포 시 publish/development, publish/staging, publish/production Branch 생성하고 모두 주석 해제
#PUB#/client/public
#PUB#/client/src
#PUB#/client/.eslintignore
#PUB#/client/.eslintrc.js
#PUB#/client/.prettierignore
#PUB#/client/.prettierrc.cjs
#PUB#/client/package.json
#PUB#/client/tsconfig.json
#PUB#/client/webpack.config.js
#PUB#/server/src
#PUB#/server/.eslintignore
#PUB#/server/.eslintrc.js
#PUB#/server/.prettierignore
#PUB#/server/.prettierrc.cjs
#PUB#/server/tsconfig.json
#PUB#/server/webpack.config.js
#PUB#.env.example
#PUB#.eslintignore
#PUB#.eslintrc.js
#PUB#.gitmodules
#PUB#.prettierignore
#PUB#.prettierrc.cjs
#PUB#jest.config.ts
#PUB#README.md
#PUB#webpack.config.js

# dotenv
.env
.env.development
.env.staging
.env.production

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# IntelliJ
.idea

# eslint cache
.eslintcache

# Coveralls
coverage

# Benchmarking
benchmarks/graphs
