.LoadingContextProvider-Loading {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes fadein {
    from {
      display: block;
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
      display: block;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  & {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    user-select: none;
  }

  &.LoadingContextProvider-show {
    display: block;
    animation: fadein 0.3s linear forwards;
  }

  &.LoadingContextProvider-hide {
    display: block;
    animation: fadeout 0.3s linear forwards;
  }

  .LoadingContextProvider-LoadingContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    padding: 5px;

    .LoadingContextProvider-LoadingText {
      width: 30px;
      height: 30px;
      border: 4px solid #fff;
      border-radius: 50%;
      border-top-color: #5a96d6;
      animation: spin 1s ease-in-out infinite;
    }
  }
}
