.FormRadioGroup {
  .FormRadioGroupBody {
    flex: 1;

    .FormRadioGroupBodyGridContainer {
      flex: 1;
    }

    .FormRadioGroupControl {
    }
  }

  &.FormRadioGroup-button,
  &.FormRadioGroup-smallButton {
    .FormRadioGroupBody {
      overflow-x: hidden;
    }
  }
}
