.FormRadioGroup {
  .FormRadioGroup__MaxWidth {
    position: absolute;
    top: -99999px;
    left: 0;
    right: 0;
  }

  .FormRadioGroup__Body {
    flex: 1;

    .FormRadioGroup__Body__GridContainer {
      flex: 1;
    }
  }
}
