@use '@sass/color';
@use '@sass/size';

.ListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: size.$body-font-size;
  line-height: size.$body-line-height;
  color: color.$text-lighten;

  .ListItemBullet {
    width: 4px;
    height: 4px;
    margin: 0 5px;
    background-color: color.$opacity-30;
    border-radius: 50%;
  }
}
