@use 'sass:math';
@use 'sass:string';
@use 'sass:list';
@use '@sass/variables' as v;
@use '@sass/util';

.Button {
  font-size: var(--button__font-size);
  font-weight: var(--button__font-weight);
  line-height: var(--button__line-height);
  padding-left: var(--button__padding-horizontal);
  padding-right: var(--button__padding-horizontal);
  height: var(--button__height);
  border: 0;
  border-radius: var(--button__border-radius);
  outline-width: 0;
  outline-style: solid;
  max-width: 100%;
  user-select: none;

  &:focus-visible {
    outline-width: 3px;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // disabled 또는 loading 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  &.Button-disabled,
  &.Button-loading {
    pointer-events: none;
    cursor: default;
    * {
      cursor: default;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // disabled 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  &.Button-disabled {
    opacity: 0.4;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // disabled, loading 상태가 아닌 경우
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  &:not(.Button-disabled):not(.Button-loading) {
    cursor: pointer;
    * {
      cursor: pointer;
    }

    // 버튼 Hover 시 효과
    &:hover {
      &.Button-variant-contained,
      &.Button-variant-outlined {
        opacity: 0.9;
      }
      &.Button-variant-text {
        > .Button__Label {
          text-decoration: underline;
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 라벨
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  > .Button__Label {
    > .Button__Label__Text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
