@use '@sass/util';
@use '@sass/color';

.Dev_FormOptions {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 컨트롤
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .Dev_FormOptions_Controls {
    > .GridCol {
      position: relative;
      &:not(:first-of-type):before {
        content: '';
        height: 100%;
        position: absolute;
        left: -10px;
        border-left: 1px solid color.$divider;
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 테스트 컨트롤
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .Dev_FormOptions_TestControl {
    // 컨텐츠
    .Dev_FormOptions_TestControl_Content {
      background-color: color.$background;
      border: 2px solid color.$primary;
      align-items: center;
    }

    // 코드 펼치기/접기 버튼
    .Dev_FormOptions_TestControl_CodeExpandButton {
      background-color: color.$opacity-07;
      padding: 6px 5px 5px;
      cursor: pointer;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      * {
        cursor: pointer;
      }

      &.show-code {
        padding-top: 5px;
      }

      &:hover {
        background-color: color.$opacity-10;
      }
    }
  }
}
