@charset "utf-8";
@use '@sass/variables' as v;

.ContentContainer {
  > .ContentContainer-content {
    width: 1250px;

    @media (max-width: 1290px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
