// primary
$primary: var(--color-primary);
$on-primary: var(--color-on-primary);

// secondary
$secondary: var(--color-secondary);
$on-secondary: var(--color-on-secondary);

// success
$success: var(--color-success);
$on-success: var(--color-on-success);

// warning
$warning: var(--color-warning);
$on-warning: var(--color-on-warning);

// error
$error: var(--color-error);
$on-error: var(--color-on-error);

// text
$text: var(--color-text);
$text-accent: var(--color-text-accent);
$text-lighten: var(--color-text-lighten);
$text-blurry: var(--color-text-blurry);

// form
$form-primary: var(--color-form-primary);
$form-on-primary: var(--color-form-on-primary);
$form-error: var(--color-form-error);
$form-on-error: var(--color-form-on-error);
$form-text: var(--color-form-text);
$form-border: var(--color-form-border);
$form-background: var(--color-form-background);
$form-disabled-text: var(--color-form-disabled-text);
$form-disabled-border: var(--color-form-disabled-border);
$form-disabled-background: var(--color-form-disabled-background);
$form-placeholder: var(--color-form-placeholder);

// etc
$background: var(--color-background);
$panel-background: var(--color-panel-background);
$dialog-backdrop: var(--color-dialog-backdrop);
$divider: var(--color-divider);

// opacity
$opacity-01: var(--color-opacity-01);
$opacity-02: var(--color-opacity-02);
$opacity-03: var(--color-opacity-03);
$opacity-04: var(--color-opacity-04);
$opacity-05: var(--color-opacity-05);
$opacity-06: var(--color-opacity-06);
$opacity-07: var(--color-opacity-07);
$opacity-08: var(--color-opacity-08);
$opacity-09: var(--color-opacity-09);
$opacity-10: var(--color-opacity-10);
$opacity-15: var(--color-opacity-15);
$opacity-20: var(--color-opacity-20);
$opacity-25: var(--color-opacity-25);
$opacity-30: var(--color-opacity-30);
$opacity-35: var(--color-opacity-35);
$opacity-40: var(--color-opacity-40);
$opacity-45: var(--color-opacity-45);
$opacity-50: var(--color-opacity-50);
$opacity-55: var(--color-opacity-55);
$opacity-60: var(--color-opacity-60);
$opacity-65: var(--color-opacity-65);
$opacity-70: var(--color-opacity-70);
$opacity-75: var(--color-opacity-75);
$opacity-80: var(--color-opacity-80);
$opacity-85: var(--color-opacity-85);
$opacity-90: var(--color-opacity-90);
$opacity-95: var(--color-opacity-95);

// opacity reverse
$opacity-reverse-01: var(--color-opacity-reverse-01);
$opacity-reverse-02: var(--color-opacity-reverse-02);
$opacity-reverse-03: var(--color-opacity-reverse-03);
$opacity-reverse-04: var(--color-opacity-reverse-04);
$opacity-reverse-05: var(--color-opacity-reverse-05);
$opacity-reverse-06: var(--color-opacity-reverse-06);
$opacity-reverse-07: var(--color-opacity-reverse-07);
$opacity-reverse-08: var(--color-opacity-reverse-08);
$opacity-reverse-09: var(--color-opacity-reverse-09);
$opacity-reverse-10: var(--color-opacity-reverse-10);
$opacity-reverse-15: var(--color-opacity-reverse-15);
$opacity-reverse-20: var(--color-opacity-reverse-20);
$opacity-reverse-25: var(--color-opacity-reverse-25);
$opacity-reverse-30: var(--color-opacity-reverse-30);
$opacity-reverse-35: var(--color-opacity-reverse-35);
$opacity-reverse-40: var(--color-opacity-reverse-40);
$opacity-reverse-45: var(--color-opacity-reverse-45);
$opacity-reverse-50: var(--color-opacity-reverse-50);
$opacity-reverse-55: var(--color-opacity-reverse-55);
$opacity-reverse-60: var(--color-opacity-reverse-60);
$opacity-reverse-65: var(--color-opacity-reverse-65);
$opacity-reverse-70: var(--color-opacity-reverse-70);
$opacity-reverse-75: var(--color-opacity-reverse-75);
$opacity-reverse-80: var(--color-opacity-reverse-80);
$opacity-reverse-85: var(--color-opacity-reverse-85);
$opacity-reverse-90: var(--color-opacity-reverse-90);
$opacity-reverse-95: var(--color-opacity-reverse-95);
