@use './variable_color' as c;

// prettier-ignore
html {
  .text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

  /* bold, weight */
  .text-bold { font-weight: bold; }
  .text-weight-100, .font-weight-100 { font-weight: 100; }
  .text-weight-200, .font-weight-200 { font-weight: 200; }
  .text-weight-300, .font-weight-300 { font-weight: 300; }
  .text-weight-400, .font-weight-400 { font-weight: 400; }
  .text-weight-500, .font-weight-500 { font-weight: 500; }
  .text-weight-600, .font-weight-600 { font-weight: 600; }
  .text-weight-700, .font-weight-700 { font-weight: 700; }
  .text-weight-800, .font-weight-800 { font-weight: 800; }
  .text-weight-900, .font-weight-900 { font-weight: 900; }

  /* align */
  .text-left { text-align: left; }
  .text-center { text-align: center; }
  .text-right { text-align: right; }

  /* decoration */
  .text-line-through { text-decoration: line-through; }

  /* primary */
  .text-primary { color: c.$color-primary; }
  .text-primary-light { color: c.$color-primary-light; }
  .text-primary-dark { color: c.$color-primary-dark; }

  /* secondary */
  .text-secondary { color: c.$color-secondary; }
  .text-secondary-light { color: c.$color-secondary-light; }
  .text-secondary-dark { color: c.$color-secondary-dark; }

  /* error */
  .text-error { color: c.$color-error; }
  .text-error-light { color: c.$color-error-light; }
  .text-error-dark { color: c.$color-error-dark; }

  /* warning */
  .text-warning { color: c.$color-warning; }
  .text-warning-light { color: c.$color-warning-light; }
  .text-warning-dark { color: c.$color-warning-dark; }

  /* info */
  .text-info { color: c.$color-info; }
  .text-info-light { color: c.$color-info-light; }
  .text-info-dark { color: c.$color-info-dark; }

  /* success */
  .text-success { color: c.$color-success; }
  .text-success-light { color: c.$color-success-light; }
  .text-success-dark { color: c.$color-success-dark; }

  /* grey, gray */
  .text-gray, .text-grey { color: c.$color-gray; }
  .text-gray-50, .text-grey-50 { color: c.$color-gray-50; }
  .text-gray-100, .text-grey-100 { color: c.$color-gray-100; }
  .text-gray-200, .text-grey-200 { color: c.$color-gray-200; }
  .text-gray-300, .text-grey-300 { color: c.$color-gray-300; }
  .text-gray-400, .text-grey-400 { color: c.$color-gray-400; }
  .text-gray-500, .text-grey-500 { color: c.$color-gray-500; }
  .text-gray-600, .text-grey-600 { color: c.$color-gray-600; }
  .text-gray-700, .text-grey-700 { color: c.$color-gray-700; }
  .text-gray-800, .text-grey-800 { color: c.$color-gray-800; }
  .text-gray-900, .text-grey-900 { color: c.$color-gray-900; }

  /* size */
  .text-1 { font-size: 1px; }
  .text-2 { font-size: 2px; }
  .text-3 { font-size: 3px; }
  .text-4 { font-size: 4px; }
  .text-5 { font-size: 5px; }
  .text-6 { font-size: 6px; }
  .text-7 { font-size: 7px; }
  .text-8 { font-size: 8px; }
  .text-9 { font-size: 9px; }
  .text-10 { font-size: 10px; }
  .text-11 { font-size: 11px; }
  .text-12 { font-size: 12px; }
  .text-13 { font-size: 13px; }
  .text-14 { font-size: 14px; }
  .text-15 { font-size: 15px; }
  .text-16 { font-size: 16px; }
  .text-17 { font-size: 17px; }
  .text-18 { font-size: 18px; }
  .text-19 { font-size: 19px; }
  .text-20 { font-size: 20px; }
}
