@charset "utf-8";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 화면 크기
// ‼️‼️‼️ 추가/삭제 시 반드시 src/theme/@types/screen.ts 에 값을 변경해야 함 ‼️‼️‼️
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:root {
  /* 모바일 (Mobile) */
  --screen-mobile-sm-min: 0px;
  --screen-mobile-sm-max: 479px;
  --screen-mobile-md-min: 480px;
  --screen-mobile-md-max: 599px;
  --screen-mobile-lg-min: 600px;
  --screen-mobile-lg-max: 767px;

  /* 태블릿 (Tablet) */
  --screen-tablet-sm-min: 768px;
  --screen-tablet-sm-max: 959px;
  --screen-tablet-md-min: 960px;
  --screen-tablet-md-max: 1023px;
  --screen-tablet-lg-min: 1024px;
  --screen-tablet-lg-max: 1199px;

  /* PC (Desktop) */
  --screen-desktop-sm-min: 1200px;
  --screen-desktop-sm-max: 1439px;
  --screen-desktop-md-min: 1440px;
  --screen-desktop-md-max: 1919px;
  --screen-desktop-lg-min: 1920px;
  --screen-desktop-lg-max: 9999px;
}
