@use '@sass/color';
@use '@sass/size';

.FormRadioGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  outline: none;

  // 비활성화 상태
  &[data-disabled='true'] {
    cursor: default;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Radio 유형
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &[data-type='radio'] {
    outline: 0 solid color.$primary;
    outline-offset: 3px;

    // 포커스 시 아웃라인 표시
    &:focus-visible {
      outline-width: thin;
    }

    .FormRadioGroupItemRadio {
      display: flex;
      flex-direction: row;
      align-items: center;

      // 라벨
      > .T {
        white-space: nowrap;
        color: color.$text-lighten;
        font-size: size.$body-font-size;
        line-height: size.$body-line-height;
      }
    }

    // 비활성화 상태
    &[data-disabled='true'] .FormRadioGroupItemRadio {
      > .T {
        color: color.$opacity-35;
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Button, Small Button 유형
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &[data-type='button'],
  &[data-type='smallButton'] {
    border-radius: 100px;

    .FormRadioGroupItemButton {
      border: 1px solid color.$opacity-20;
      border-radius: 100px;
      padding: 10px 18px;
      width: 100%;
      background-color: color.$background;
      font-size: size.$body-font-size;
      line-height: size.$body-line-height;
      color: color.$text-lighten;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &[data-type='smallButton'] .FormRadioGroupItemButton {
      padding: 4px 13px;
    }

    // 비활성화 상태
    &[data-disabled='true'] .FormRadioGroupItemButton {
      background-color: color.$opacity-03;
      border-color: color.$opacity-10;
      color: color.$opacity-25;
    }

    // Button 유형 - Focus Visible 상태
    &:focus-visible {
      .FormRadioGroupItemButton {
        border-color: color.$primary;
      }
    }

    &[data-error='true'] {
      .FormRadioGroupItemButton {
        border-color: color.$error;
      }
    }

    &[data-active='true'] {
      .FormRadioGroupItemButton {
        background-color: color.$primary;
        border-color: color.$primary;
        color: color.$on-primary;
      }
    }
  }
}
