.FormRadioGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: -5px;
  cursor: pointer;
  outline: 0 solid var(--color-primary);
  outline-offset: 3px;
  user-select: none;

  .Icon {
    cursor: pointer;
  }

  // 포커스 시 아웃라인 표시
  &:focus-visible {
    outline-width: thin;
  }

  // 비활성화 상태
  &.FormRadioGroupItem-disabled {
    cursor: default;
    opacity: 0.5;
  }

  // 아이콘, 레이블 컨테이너
  > .FormRadioGroupItem_IconLabelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    // 라벨
    > .T {
      white-space: nowrap;
    }
  }
}
