@use '@sass/util';
@use '@sass/mixin-placeholder';

.FormTextarea {
  .FormTextarea_textarea {
    $font-size: 15px;
    $line-height: 1.2;
    $font-weight: 500;
    $padding: 17px 20px;
    $text-color: var(--color-text);
    $background-color: var(--color-background);
    $border-color: var(--color-opacity-15);
    $border-radius: 5px;
    $outline-color: var(--color-primary);
    $error-border-outline-color: var(--color-error);
    $placeholder-color: var(--color-opacity-35);

    width: 100%;
    padding: $padding;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-color;
    outline: 0 solid $outline-color;
    resize: none;

    &.FormTextarea_textarea-focused {
      outline-width: thin;
    }

    &.FormTextarea_textarea-error {
      border-color: $error-border-outline-color;

      &.FormTextarea_textarea-focused {
        outline-color: $error-border-outline-color;
      }
    }

    &.FormTextarea_textarea-disabled {
      opacity: 0.5;
    }

    // Placeholder
    @include mixin-placeholder.all($font-size, $line-height, $font-weight, $placeholder-color);
  }
}
