@use '@sass/util';
@use '@sass/mixin-placeholder';
@use '@sass/color';

.FormTextarea {
  .FormTextarea_textarea {
    $font-size: 15px;
    $line-height: 1.2;
    $font-weight: 500;
    $padding: 17px 20px;
    $text-color: color.$form-text;
    $background-color: color.$form-background;
    $border-color: color.$form-border;
    $border-radius: 5px;
    $outline-color: color.$form-primary;
    $error-border-outline-color: color.$form-error;
    $disabled-text-color: color.$form-disabled-text;
    $disabled-border-color: color.$form-disabled-border;
    $disabled-background-color: color.$form-disabled-background;
    $placeholder-color: color.$form-placeholder;

    width: 100%;
    padding: $padding;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-color;
    outline: 0 solid $outline-color;
    resize: none;

    &.FormTextarea_textarea-focused {
      outline-width: thin;
    }

    &.FormTextarea_textarea-error {
      border-color: $error-border-outline-color;

      &.FormTextarea_textarea-focused {
        outline-color: $error-border-outline-color;
      }
    }

    &.FormTextarea_textarea-disabled {
      color: $disabled-text-color;
      border-color: $disabled-border-color;
      background-color: $disabled-background-color;
    }

    // Placeholder
    @include mixin-placeholder.all($font-size, $line-height, $font-weight, $placeholder-color);
  }
}
