@use '@sass/util';
@use '@sass/color';
@use '@sass/size';
@use '@sass/mixin-placeholder';

.FormSelectInput__Container {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 변수
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $font-size: size.$body-font-size;
  $font-weight: 500;
  $line-height: 22px;
  $padding-vertical: 16px;
  $padding-horizontal: 20px;
  $small-size-padding-vertical: 7px;
  $small-size-padding-horizontal: 13px;
  $text-color: color.$form-text;
  $background-color: color.$form-background;
  $border-color: color.$form-border;
  $border-radius: 10px;
  $outline-color: color.$form-primary;
  $error-border-outline-color: color.$form-error;
  $placeholder-color: color.$form-placeholder;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 기본 스타일
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-right: $padding-horizontal;
  background-color: $background-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  outline: thin solid $outline-color;
  width: 100%;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Small 사이즈
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormSelectInput__Container-size-small {
    padding-right: $small-size-padding-horizontal;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 숨김 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &:not(.FormSelectInput__Container-show) {
    position: absolute;
    top: -99999;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    overflow: hidden;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 오류 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormSelectInput__Container-error {
    border-color: $error-border-outline-color;
    outline-color: $error-border-outline-color;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Input
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .FormSelectInput {
    flex: 1;
    width: 0;
    padding: $padding-vertical 0 $padding-vertical $padding-horizontal;
    border: none;
    border-radius: $border-radius;
    outline: none;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    background-color: $background-color;
    color: $text-color;

    // 포커스 아닌 상태에서 커서 기본값
    &:not(:focus) {
      cursor: default;
    }

    // Placeholder
    @include mixin-placeholder.all($font-size, $line-height, $font-weight, $placeholder-color);

    // Small 사이즈
    &.FormSelectInput-size-small {
      padding: $small-size-padding-vertical 0 $small-size-padding-vertical $small-size-padding-horizontal;
    }

    // 선택 상태
    &.FormSelectInput-selected {
      @include mixin-placeholder.color($text-color);
    }
  }
}
