@use '@sass/util';
@use '@sass/color';
@use '@sass/size';

.FormTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  user-select: none;
  color: color.$text-accent;
  font-size: size.$body-font-size;
  line-height: size.$body-line-height;

  &[data-error='true'] {
    color: util.apply-opacity-value(color.$form-error, 0.7);
  }

  // 텍스트
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;

    // 필수 입력 별표
    > span {
      color: color.$form-error;
      font-size: size.$body-large-font-size;
      line-height: size.$body-font-size;
      padding-left: 3px;
    }
  }
}
