@use '@sass/util';

.FormTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  user-select: none;
  color: var(--color-text-accent);
  font-size: var(--size-body-font-size);
  line-height: var(--size-body-line-height);

  &[data-error='true'] {
    color: util.apply-opacity-value(var(--color-error), 0.7);
  }

  // 텍스트
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    // 필수 입력 별표
    > span {
      color: var(--color-error);
      font-size: var(--size-body-large-font-size);
      line-height: var(--size-body-font-size);
      padding-left: 3px;
    }
  }
}
