@use '@sass/color';
@use '@sass/size';

.ListTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: size.$body-font-size;
  line-height: size.$body-line-height;
  font-weight: 700;
  color: color.$text;
}
