.FormErrorText {
  .FormErrorText__Content {
    color: var(--color-error);
    font-size: var(--size-caption-font-size);
    line-height: var(--size-caption-line-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }
}
