@use '@sass/color';
@use '@sass/size';

.FormHelperText {
  color: color.$text-lighten;
  font-size: size.$caption-font-size;
  line-height: size.$caption-line-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  &.FormHelperText-focused {
    color: color.$form-primary;
  }
}
