@use '@sass/color';

.List {
  display: flex;
  flex-direction: column;
  background-color: color.$background;
  gap: 10px;

  &.List-variant-bordered {
    border: 1px solid color.$opacity-15;
    border-radius: 10px;
    padding: 20px;
  }

  .List__Items {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}
