@use '@sass/color';

.List {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &[data-variant='bordered'] {
    border: 1px solid color.$opacity-15;
    border-radius: 10px;
    padding: 20px;
  }

  .ListItems {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
}
