@use '@sass/color';
@use '@sass/size';

.FormRadioGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  flex-shrink: 0;
  outline: none;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Radio 유형
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormRadioGroupItem-type-radio {
    outline: 0 solid color.$form-primary;
    outline-offset: 3px;

    // 포커스 시 아웃라인 표시
    &:focus-visible {
      outline-width: thin;
    }

    .FormRadioGroupItem__Radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      // 라벨
      > .T {
        white-space: nowrap;
        color: color.$text-lighten;
        font-size: size.$body-font-size;
        line-height: size.$body-line-height;
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Button, Small Button 유형
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormRadioGroupItem-type-button,
  &.FormRadioGroupItem-type-smallButton {
    border-radius: 100px;

    .FormRadioGroupItem__Button {
      border: 1px solid color.$form-border;
      border-radius: 100px;
      padding: 10px 18px;
      width: 100%;
      background-color: color.$form-background;
      font-size: size.$body-font-size;
      line-height: size.$body-line-height;
      color: color.$text-lighten;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &.FormRadioGroupItem-type-smallButton .FormRadioGroupItem__Button {
      padding: 4px 13px;
    }

    // Button 유형 - Focus Visible 상태
    &:focus-visible {
      .FormRadioGroupItem__Button {
        border-color: color.$form-primary;
      }
    }

    &.FormRadioGroupItem-error {
      .FormRadioGroupItem__Button {
        border-color: color.$form-error;
      }
    }

    &.FormRadioGroupItem-active {
      .FormRadioGroupItem__Button {
        background-color: color.$form-primary;
        border-color: color.$form-primary;
        color: color.$form-on-primary;
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 선택 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormRadioGroupItem-active {
    // Radio 유형
    &.FormRadioGroupItem-type-radio {
      .FormRadioGroupItem__Radio {
        > .T {
          color: color.$text-accent;
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 비활성 상태
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.FormRadioGroupItem-disabled {
    // Radio 유형
    &.FormRadioGroupItem-type-radio {
      .FormRadioGroupItem__Radio {
        cursor: default;

        > .T {
          color: color.$form-disabled-text;
        }
      }
    }

    // Button, Small Button 유형
    &.FormRadioGroupItem-type-button,
    &.FormRadioGroupItem-type-smallButton {
      .FormRadioGroupItem__Button {
        cursor: default;
      }
    }

    // 미선택 아이템의 비활성 상태
    &:not(.FormRadioGroupItem-active) {
      // Button, Small Button 유형
      &.FormRadioGroupItem-type-button,
      &.FormRadioGroupItem-type-smallButton {
        .FormRadioGroupItem__Button {
          background-color: color.$form-disabled-background;
          border-color: color.$form-disabled-border;
          color: color.$form-disabled-text;
        }
      }
    }
  }
}
