@use '@sass/color';
@use '@sass/size';

.FormRadioGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  flex-shrink: 0;
  outline: none;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Radio 유형
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &[data-type='radio'] {
    outline: 0 solid color.$form-primary;
    outline-offset: 3px;

    // 포커스 시 아웃라인 표시
    &:focus-visible {
      outline-width: thin;
    }

    .FormRadioGroupItemRadio {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      // 라벨
      > .T {
        white-space: nowrap;
        color: color.$text-lighten;
        font-size: size.$body-font-size;
        line-height: size.$body-line-height;
      }

      // 선택 상태
      &[data-active='true'] {
        > .T {
          color: color.$text-accent;
        }
      }
      // 비활성화 상태
      &[data-disabled='true'] {
        cursor: default;

        > .T {
          color: color.$form-disabled-text;
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Button, Small Button 유형
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &[data-type='button'],
  &[data-type='smallButton'] {
    border-radius: 100px;

    .FormRadioGroupItemButton {
      border: 1px solid color.$form-border;
      border-radius: 100px;
      padding: 10px 18px;
      width: 100%;
      background-color: color.$form-background;
      font-size: size.$body-font-size;
      line-height: size.$body-line-height;
      color: color.$text-lighten;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      // 비활성화 상태
      &[data-disabled='true'] {
        background-color: color.$form-disabled-background;
        border-color: color.$form-disabled-border;
        color: color.$form-disabled-text;
        cursor: default;
      }
    }

    &[data-type='smallButton'] .FormRadioGroupItemButton {
      padding: 4px 13px;
    }

    // Button 유형 - Focus Visible 상태
    &:focus-visible {
      .FormRadioGroupItemButton {
        border-color: color.$form-primary;
      }
    }

    &[data-error='true'] {
      .FormRadioGroupItemButton {
        border-color: color.$form-error;
      }
    }

    &[data-active='true'] {
      .FormRadioGroupItemButton {
        background-color: color.$form-primary;
        border-color: color.$form-primary;
        color: color.$form-on-primary;
      }
    }
  }
}
