@use '@sass/color';

.DevButton {
  background-color: color.$opacity-10;
  padding: 10px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;

  .Icon {
    cursor: pointer;
  }

  &:hover {
    filter: brightness(0.9);
  }
}
