@use '@sass/color';
@use '@sass/size';

.Pagination {
  // 폰트 크기
  $font-size: size.$body-large-font-size;
  // 1000 페이지 이상 폰트 크기
  $font-size-over-1000: size.$body-font-size;
  // 폰트 굵기
  $font-weight: 500;
  // 기본 텍스트 색상
  $default-text-color: color.$text-lighten;
  // 활성 페이지 텍스트 색상
  $active-text-color: color.$background;
  // 활성 페이지 배경 색상
  $active-background-color: color.$text;
  // Hover 배경 색상
  $hover-background-color: color.$opacity-05;
  // 네비게이션버튼, 페이지 크기
  $item-size: 40px;
  // 네비게이션 버튼 아이콘 색상
  $navigation-btn-icon-color: color.$text-lighten;
  // 네비게이션 버튼 테두리 색상
  $navigation-btn-border-color: color.$opacity-10;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  user-select: none;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 네비게이션 버튼
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .Pagination__NavigationBtn {
    width: $item-size;
    height: $item-size;
    border: 1px solid $navigation-btn-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    // 비활성 상태
    &[data-disabled='true'] {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }

    // 아이콘
    > i {
      font-size: 20px !important;
      color: $navigation-btn-icon-color;
      cursor: pointer;
    }

    // Hover 효과
    &:hover {
      background-color: $hover-background-color;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 페이지 버튼
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .Pagination__Page {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $default-text-color;
    width: $item-size;
    height: $item-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    // 숫자 텍스트 위치 보정
    padding-top: 1px;

    // 활성 페이지 아닌 경우 Hover 효과
    &:not([data-active='true']):hover {
      background-color: $hover-background-color;
    }

    // 활성 페이지
    &[data-active='true'] {
      color: $active-text-color;
      background-color: $active-background-color;
      pointer-events: none;
      cursor: default;
    }

    // 1000 페이지 이상인 경우 폰트 크기 조정
    &.Pagination__Page_over_1000 {
      font-size: $font-size-over-1000;
    }
  }
}
