.Box {
  &.Box-center {
    text-align: center;
  }
  &.Box-nowrap {
    white-space: nowrap;
  }
  &.Box-absolute {
    position: absolute;
  }
  &.Box-relative {
    position: relative;
  }
  &.Box-fixed {
    position: fixed;
  }
}
