@use '@sass/util';
@use '@sass/color';
@use '@sass/size';

.FormSelectDropdownItem {
  font-size: size.$body-font-size;
  line-height: size.$body-line-height;
  padding: 10px 20px;
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  // 활성 아이템
  &[data-temp-active='true'] {
    background-color: util.apply-opacity-value(color.$primary, 0.1);
  }

  // 선택 아이템
  &[data-active='true'] {
    background-color: color.$primary;
    color: color.$on-primary;
  }

  // 비활성화 아이템
  &[data-disabled='true'] {
    opacity: 0.5;
  }
}
