@use '@sass/util';

.FormSelectDropdownItem {
  font-size: var(--size-body-font-size);
  line-height: var(--size-body-line-height);
  padding: 10px 20px;
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  // 활성 아이템
  &[data-temp-active='true'] {
    background-color: util.apply-opacity-value(var(--color-primary), 0.1);
  }

  // 선택 아이템
  &[data-active='true'] {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  // 비활성화 아이템
  &[data-disabled='true'] {
    opacity: 0.5;
  }
}
