.Flex {
  display: flex;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // display
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.Flex-inline {
    display: inline-flex;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // flex-direction
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.Flex-row {
    flex-direction: row;
  }
  &.Flex-row-reverse {
    flex-direction: row-reverse;
  }
  &.Flex-column {
    flex-direction: column;
  }
  &.Flex-column-reverse {
    flex-direction: column-reverse;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // flex-wrap
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.Flex-wrap {
    flex-wrap: wrap;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // align-items
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.Flex-center-a {
    align-items: center;
  }
  &.Flex-stretch-a {
    align-items: stretch;
  }
  &.Flex-start-a {
    align-items: flex-start;
  }
  &.Flex-end-a {
    align-items: flex-end;
  }
  &.Flex-flex-start-a {
    align-items: flex-start;
  }
  &.Flex-flex-end-a {
    align-items: flex-end;
  }
  &.Flex-self-start-a {
    align-items: self-start;
  }
  &.Flex-self-end-a {
    align-items: self-end;
  }
  &.Flex-baseline-a {
    align-items: baseline;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // justify-content
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &.Flex-center-j {
    justify-content: center;
  }
  &.Flex-start-j {
    justify-content: flex-start;
  }
  &.Flex-end-j {
    justify-content: flex-end;
  }
  &.Flex-flex-start-j {
    justify-content: flex-start;
  }
  &.Flex-flex-end-j {
    justify-content: flex-end;
  }
  &.Flex-left-j {
    justify-content: left;
  }
  &.Flex-right-j {
    justify-content: right;
  }
  &.Flex-space-between-j {
    justify-content: space-between;
  }
  &.Flex-space-around-j {
    justify-content: space-around;
  }
  &.Flex-space-evenly-j {
    justify-content: space-evenly;
  }
}
