@use '@sass/util';
@use '@sass/mixin-placeholder';
@use '@sass/color';
@use '@sass/size';

.FormInput {
  $font-size: size.$body-font-size;
  $font-weight: 500;
  $line-height: 22px;
  $padding-vertical: 16px;
  $padding-horizontal: 20px;
  $text-color: color.$text;
  $background-color: color.$background;
  $border-color: color.$opacity-20;
  $border-radius: 10px;
  $outline-color: color.$primary;
  $error-border-outline-color: color.$error;
  $disabled-border-color: color.$opacity-10;
  $disabled-background-color: color.$opacity-03;
  $placeholder-color: color.$opacity-35;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $background-color;
  outline: 0 solid $outline-color;

  // 포커스 상태
  &[data-focused='true'] {
    outline-width: thin;
  }

  // 오류 상태
  &[data-error='true'] {
    border-color: $error-border-outline-color;

    // 오류 포커스 상태
    &[data-focused='true'] {
      outline-color: $error-border-outline-color;
    }
  }

  // 비활성화 상태
  &[data-disabled='true'] {
    background-color: $disabled-background-color;
    border-color: $disabled-border-color;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // 우측 영역
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .FormInput-right {
    padding-right: $padding-horizontal;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Input
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  input {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $text-color;
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    width: 0;

    // Placeholder
    @include mixin-placeholder.all($font-size, $line-height, $font-weight, $placeholder-color);
  }
}
