@use '@sass/color';
@use '@sass/size';

.FormCheckbox {
  .FormCheckbox__Control {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    outline: 0 solid color.$form-primary;
    outline-offset: 3px;
    user-select: none;

    // 포커스 시 아웃라인 표시
    &:focus-visible {
      outline-width: thin;
    }

    // 라벨
    .FormCheckbox__Label {
      color: color.$text-lighten;
      font-size: size.$body-font-size;
      line-height: size.$body-line-height;

      &.FormCheckbox__Label-checked {
        color: color.$text-accent;
      }
    }

    // disabled 상태
    &.FormCheckbox__Control-disabled {
      cursor: default;
      > img {
        opacity: 0.5;
      }
      .FormCheckbox__Label {
        color: color.$form-disabled-text;
      }
    }

    // 오류 상태 - 테두리 색상 변경
    &.FormCheckbox__Control-error {
      outline-color: color.$form-error;
    }
  }
}
